<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <listeners>
  	<listener class-name="testscript.Listeners"></listener>
  </listeners>
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
    <!--<class name="testscript.QALegendLoginPageTest"/>
      class name="testscript.QALegendNotePageTest"/>
       <class name="testscript.QALegendClientPageTest"/>
       <class name="testscript.QALegendItemPageTest"/>
       <class name="testscript.QALegendSignUpPageTest"/>
       <class name="testscript.QALegendTeamMembersPageTest"/>-->
       <class name="testscript.QALegendSignUpPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
